<div>
    <mat-card>
        <mat-card-title>
            About Page
        </mat-card-title>
        <mat-card-content>
            <h3>This Application servers as a repository for reported UFO Sightings and as a learning opportunity
                as I practice developing Angular Applications. </h3>
        </mat-card-content>
        <mat-card-title>
            FAQS
        </mat-card-title>
        <mat-card-content>
            <ol>
                <li>
                    <h2>What are UFOs and their origin?</h2>
                </li>
                <h3>Many questions remain a mystery despite much research and speculation icluding the following
                    possiblities:
                    <ul>
                        <li>Misidentified civilian Aircraft, drones, satellites, military experimental aircraft, etc.
                        </li>
                        <li>Time Travellers from the future</li>
                        <li>Extraterrestial Beings (Aliens)</li>
                        <li>Mind Control Experiments using advanced Holographic Technology</li>
                    </ul>
                </h3>
                <li>
                    <h2>Why does it matter?</h2>
                </li>
                <h3>
                    If these questions will ever be answered once and for all, whether it is by full disclosure by the
                    government
                    or the highly compartmentalized military industrial complex, attention and research into this
                    subject must continue.
                    See the <a href="https://siriusdisclosure.com/about-us/#background" target="_blank">Discloure Project</a> for more information.
                </h3>
            </ol>
        </mat-card-content>
    </mat-card>
</div>