<mat-toolbar color="primary">
  <span>
    <button mat-button routerLink="">
      <h1>
        My UFO Tracker App
      </h1>
    </button>
  </span>
  <span class="filler">
  </span>
  <span>
    <button mat-button routerLink="table-view-sightings">
      <h1>
        Table View
      </h1>
    </button>
  </span>
  <span class="filler">
  </span>
  <span>
    <button mat-button routerLink="sightings-leaflet-map/">
      <h1>
        Map
      </h1>
    </button>
  </span>
  <span class="filler">
  </span>
  <span>
    <button mat-button routerLink="about-ufo-tracker/">
      <h1>
        About
      </h1>
    </button>
  </span>


</mat-toolbar>
<router-outlet></router-outlet>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
